#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Chart Report</title>

</head>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
$webResourceManager.requireResourcesForContext("org.everit.jira.timetracker.plugin.chart_report-resources")
<body>
  #set($rendererType = "atlassian-wiki-renderer")
  #if($currentCalendar.useISO8601 == true)
    #set ($firstDay = 1)
  #else
    #set ($firstDay = 0)
  #end

  <script type="text/javascript">

  window.everit = window.everit || {};
  everit.jttp = everit.jttp || {};
  everit.jttp.report_common_scripts = everit.jttp.report_common_scripts || {};

  (function(jttp, jQuery) {
    jttp.options = jQuery.extend( 
      {},
      jttp.options,
      {
        firstDay : ${firstDay},
        useISO8601 : ${currentCalendar.useISO8601},
        hasBrowseUsersPermission: ${hasBrowseUsersPermission},
        dateFromFormated : ${dateFromFormated},
        dateToFormated : ${dateToFormated},
        dateToInJSFormat: "${endDateInJSDatePickerFormat}",
        dateFromInJSFormat: "${fromDateInJSDatePickerFormat}",
        dateFormat: "${dateFormat}"
      }
    );
  })(everit.jttp.report_common_scripts, AJS.$);

  (function(jttp, jQuery) {
    jttp.options = jQuery.extend( 
      {},
      jttp.options,
      {
        firstDay : ${firstDay},
        useISO8601 : ${currentCalendar.useISO8601},
        hasBrowseUsersPermission: ${hasBrowseUsersPermission},
        dateFromFormated : ${dateFromFormated},
        dateToFormated : ${dateToFormated},
        dateToInJSFormat: "${endDateInJSDatePickerFormat}",
        dateFromInJSFormat: "${fromDateInJSDatePickerFormat}",
        dateFormat: "${dateFormat}"
      }
    );
  })(everit.jttp.chart_report, AJS.$);

  </script>
  #parse("templates/common/updatenotifier.vm")
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
         <span class="aui-avatar aui-avatar-large">
           <span class="aui-avatar-inner">
             <a href="http://www.everit.biz/solutions-for-atlassian-jira/index_en" target="_blank">
               <div class="everit_logo" alt="Everit reporting logo"></div>
             </a>
           </span>
         </span>
      </div>
      <div class="aui-page-header-main">
        <h1>
          <span>Chart Report</span>
          <a href="#reporting_menu" aria-owns="reporting_menu" aria-haspopup="true" class="aui-button aui-button-link aui-style-default aui-dropdown2-trigger">$i18n.getText("jtrp.select.report")</a>
          <div id="reporting_menu" class="aui-style-default aui-dropdown2" style="top: 150px">
            <ul class="aui-list-truncate">
              <li><a href="ReportingWebAction!default.jspa">Reporting</a></li>
              <li><a href="JiraTimetrackerWorklogsWebAction!default.jspa">Missing Days Report</a></li>
              <li><a href="JiraTimetrackerTableWebAction!default.jspa">Table Report</a></li>
            </ul>
          </div>
        </h1>
        </div>
     </div>
  </header>
  
  <div class="chart-search-criteria-container">
    <div id="error_message" style="display:none;">
      <label id="error_message_label_df" style="display:none;">$i18n.getText('plugin.invalid_startTime')</label>
      <label id="error_message_label_dt" style="display:none;">$i18n.getText('plugin.invalid_endTime')</label>
    </div>
    <form name="dummyFormForView" class="aui top-label reporting-form" method="get" onsubmit="return false;" />
      <div class="form-body">
        <div class="aui-group">
          <div class="aui-item search-wrap">
            <div class="user-search-container">
              <div class="search-criteria-container">
                <div class="search-criteria">
                  <!-- User Dropdown  BUTTON-->
                  <a id="userPickerButton" href="#userPickerDropDown" aria-disabled="false" aria-owns="userPickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"  title='$i18n.getText("jtrp.picker.user.tooltip")'></a>
                  <!-- User Dropdown -->
                  <div id="userPickerDropDown" class="aui-style-default aui-dropdown2">
                    <div class="jttr-filter-field">
                      <div class='ajs-layer box-shadow'>
                        <div data-query>
                          <div class='form-body checkboxmultiselect-container'>
                            <div class='field-gaui-field-issuetype'>
                              <select id="userPicker" name="userPicker" multiple="multiple">
                                
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- User Dropdown End-->
                  <!-- GroupBy Dropdown  BUTTON-->
                  <a id="groupByDropdownButton" data-jtrp-value="" href="#groupByDropdown" aria-owns="groupByDropdown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger">
                    #if( $groupBy == 'project' ) 
                      $i18n.getText("jtrp.report.chart.groupby.project")
                    #end
                    #if( $groupBy == 'issue' )
                      $i18n.getText("jtrp.report.chart.groupby.issue")
                    #end
                    #if( $groupBy == 'user' )
                      $i18n.getText("jtrp.report.chart.groupby.user")
                    #end
                  </a>
                  <div id="groupByDropdown" class="aui-style-default aui-dropdown2">
                    <div class="jttr-filter-field">
                      <div class='ajs-layer box-shadow'>
                        <div data-query>
                          <div class='form-body checkboxmultiselect-container'>
                            <div class='field-group aui-field-issuetype'>
                              <ul class="aui-list-section">
                                <li class="aui-list-item" onclick="return everit.jttp.chart_report.changeGroupBy(this);" data-jtrp-value="Project" data-jtrp-label="$i18n.getText("jtrp.report.chart.groupby.project")">
                                  <a href="javascript:void(0)" onclick="return false">$i18n.getText("jtrp.report.chart.groupby.project")</a>
                                </li>
                                <li class="aui-list-item" onclick="return everit.jttp.chart_report.changeGroupBy(this);" data-jtrp-value="Issue" data-jtrp-label="$i18n.getText("jtrp.report.chart.groupby.issue")">
                                  <a href="javascript:void(0)" onclick="return false">$i18n.getText("jtrp.report.chart.groupby.issue")</a>
                                </li>
                                <li class="aui-list-item" onclick="return everit.jttp.chart_report.changeGroupBy(this);" data-jtrp-value="User" data-jtrp-label="$i18n.getText("jtrp.report.chart.groupby.user")">
                                  <a href="javascript:void(0)" onclick="return false">$i18n.getText("jtrp.report.chart.groupby.user")</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- GroupBy Dropdown End-->
                  <!-- Display Dropdown  BUTTON-->
                  <a id="displayDropdownButton" data-jtrp-value="" href="#displayDropdown" aria-owns="displayDropdown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger">
                    #if( $display == 'pie' ) 
                      $i18n.getText("jtrp.report.chart.display.pie")
                    #end
                    #if( $display == 'bar' )
                      $i18n.getText("jtrp.report.chart.display.bar")
                    #end
                  </a>
                  <div id="displayDropdown" class="aui-style-default aui-dropdown2">
                    <div class="jttr-filter-field">
                      <div class='ajs-layer box-shadow'>
                        <div data-query>
                          <div class='form-body checkboxmultiselect-container'>
                            <div class='field-group aui-field-issuetype'>
                              <ul class="aui-list-section">
                                <li class="aui-list-item" onclick="return everit.jttp.chart_report.changeDisplay(this);" data-jtrp-value="PieChart" data-jtrp-label="$i18n.getText("jtrp.report.chart.display.pie")">
                                  <a href="javascript:void(0)" onclick="return false">$i18n.getText("jtrp.report.chart.display.pie")</a>
                                </li>
                                <li class="aui-list-item" onclick="return everit.jttp.chart_report.changeDisplay(this);" data-jtrp-value="BarChart" data-jtrp-label="$i18n.getText("jtrp.report.chart.display.bar")">
                                  <a href="javascript:void(0)" onclick="return false">$i18n.getText("jtrp.report.chart.display.bar")</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Display Dropdown End-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aui-group">
          <div class="aui-item search-wrap">
            <div class="date-search-container">
              <div class="search-criteria-container">
                <div class="search-criteria">
                  <div class="from-date inline-calendar">
                    <input class="text medium-field datepicker-input" placeholder="From" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" id="dateFrom" name="dateFrom" tabindex="1">
                    <a href="#" title="Select a date">
                      <span id="date_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                    </a>
                  </div>
                  <div class="to-date inline-calendar">
                    <input class="text medium-field datepicker-input" placeholder="To" onkeydown="return everit.jttp.report_common_scripts.checkToEnter(event);" id="dateTo" name="dateTo" tabindex="2">
                    <a href="#" title="Select a date">
                      <span id="date_trigger_to" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aui-group">
          <div class="aui-item">
            <button id="search" tabindex="3" class="aui-button aui-button-primary"  onclick="everit.jttp.chart_report.beforeSubmitChartReport();">$i18n.getText('plugin.search')</button> <!-- Submit the search form -->
          </div>
        </div>
      </form>  
    </div>
  </div>
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section id="chart-panel" class="aui-page-panel-content">
      </section>
    </div>
  </div>
  <script type="text/javascript" src="$issueCollectorSrc"></script>
  #if($analyticsDTO.analyticsCheck)
    #parse("templates/common/analytics.vm")
  #end
</body>
</html>
